<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-2 mb-2">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://www.travelandleisure.com/thmb/yBk0Ow-fi7ToryfR4PmapdcH8ww=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/CAMPING0915-Glacier-National-Park-eb04b1b037d241159003d931c8a46dbc.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Bingo!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Bingo!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>